.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    
   justify-content: center;
 
  }
  
  .modal-content {
   background-color: rgb(12, 12, 12);
    border-radius: 8px;
    padding:15px;
    width: 400px;
    max-width: 100%;
    margin-right: 10px;
    max-height: 600px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(204, 200, 200);
    
  }


